Repository Floppa-equipe-16/floppa, pull requests merged in 2023-02, with the labels that each got.

#15 Exception refactoring
  src/main/java/ulaval/glo2003/Main.java
  src/main/java/ulaval/glo2003/api/SellerRequest.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/InvalidParamException.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/MissingParamException.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/NotFoundExceptionMapper.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/ParamExceptionMapper.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/ParamValidationException.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/SellerExceptionMapper.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/SellerInvalidParamException.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/SellerMissingParamException.java
  src/main/java/ulaval/glo2003/domain/Seller.java
Labels: refactoring

#17 refactor: big refactor of product exceptions, add products to seller responses
  src/main/java/ulaval/glo2003/Main.java
  src/main/java/ulaval/glo2003/api/ProductRequest.java
  src/main/java/ulaval/glo2003/api/ProductResponse.java
  src/main/java/ulaval/glo2003/api/ProductRessource.java
  src/main/java/ulaval/glo2003/api/SellerRequest.java
  src/main/java/ulaval/glo2003/api/SellerResource.java
  src/main/java/ulaval/glo2003/api/SellerResponse.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/ParamExceptionMapper.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/ParamValidationException.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/ProductException.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/ProductExceptionMapper.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/ProductInvalidParamException.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/ProductItemNotFoundException.java
  src/main/java/ulaval/glo2003/api/exceptionHandling/ProductMissingParamException.java
  src/main/java/ulaval/glo2003/domain/Product.java
  src/main/java/ulaval/glo2003/domain/Seller.java
Labels: refactoring

#41 test: seller affiliated class test
  pom.xml
  src/main/java/ulaval/glo2003/api/seller/SellerRequest.java
  src/main/java/ulaval/glo2003/api/seller/SellerResource.java
  src/main/java/ulaval/glo2003/domain/Seller.java
  src/test/java/ulaval/glo2003/api/SellerRequestTest.java
  src/test/java/ulaval/glo2003/domain/SellerTest.java
Labels: refactoring, test

#49 Obtention du vendeur avec les offres
  src/main/java/ulaval/glo2003/Main.java
  src/main/java/ulaval/glo2003/api/offer/OfferCollectionResponse.java
  src/main/java/ulaval/glo2003/api/offer/OfferRequest.java
  src/main/java/ulaval/glo2003/api/offer/OfferResource.java
  src/main/java/ulaval/glo2003/api/offer/OfferResponse.java
  src/main/java/ulaval/glo2003/api/offer/OffersRepositoryResponse.java
  src/main/java/ulaval/glo2003/api/product/ProductRequest.java
  src/main/java/ulaval/glo2003/api/product/ProductResource.java
  src/main/java/ulaval/glo2003/api/product/ProductResponse.java
  src/main/java/ulaval/glo2003/api/seller/SellerRequest.java
  src/main/java/ulaval/glo2003/api/seller/SellerResource.java
  src/main/java/ulaval/glo2003/api/seller/SellerResponse.java
  src/main/java/ulaval/glo2003/domain/offer/IOfferRepository.java
  src/main/java/ulaval/glo2003/domain/offer/InMemoryOfferRepository.java
  src/main/java/ulaval/glo2003/domain/offer/Offer.java
  src/main/java/ulaval/glo2003/domain/product/IProductRepository.java
  src/main/java/ulaval/glo2003/domain/product/InMemoryProductRepository.java
  src/main/java/ulaval/glo2003/domain/product/Product.java
  src/main/java/ulaval/glo2003/domain/seller/ISellerRepository.java
  src/main/java/ulaval/glo2003/domain/seller/InMemorySellerRepository.java
  src/main/java/ulaval/glo2003/domain/seller/Seller.java
  src/main/java/ulaval/glo2003/domain/seller/SellersRepository.java
  src/main/java/ulaval/glo2003/service/OfferMapper.java
  src/main/java/ulaval/glo2003/service/ProductMapper.java
  src/main/java/ulaval/glo2003/service/RepositoryManager.java
  src/main/java/ulaval/glo2003/service/SellerMapper.java
  src/test/java/ulaval/glo2003/api/SellerRequestTest.java
  src/test/java/ulaval/glo2003/api/product/ProductRequestTest.java
  src/test/java/ulaval/glo2003/api/seller/SellerRequestTest.java
  src/test/java/ulaval/glo2003/domain/offer/InMemoryOfferRepositoryTest.java
  src/test/java/ulaval/glo2003/domain/product/InMemoryProductRepositoryTest.java
  src/test/java/ulaval/glo2003/domain/product/ProductTest.java
  src/test/java/ulaval/glo2003/domain/seller/InMemorySellerRepositoryTest.java
  src/test/java/ulaval/glo2003/domain/seller/SellerTest.java
  src/test/java/ulaval/glo2003/service/OfferMapperTest.java
  src/test/java/ulaval/glo2003/service/ProductMapperTest.java
  src/test/java/ulaval/glo2003/service/SellerMapperTest.java
Labels: enhancement, refactoring, test

#51 OfferRequestTest
  src/test/java/ulaval/glo2003/api/offer/OfferRequestTest.java
Labels: test

#50 Validation reformat
  src/main/java/ulaval/glo2003/domain/offer/Offer.java
  src/main/java/ulaval/glo2003/domain/offer/OfferValidator.java
  src/main/java/ulaval/glo2003/domain/product/Product.java
  src/main/java/ulaval/glo2003/domain/product/ProductValidator.java
  src/main/java/ulaval/glo2003/domain/seller/Seller.java
  src/main/java/ulaval/glo2003/domain/seller/SellerValidator.java
  src/test/java/ulaval/glo2003/domain/offer/OfferTest.java
  src/test/java/ulaval/glo2003/domain/offer/OfferValidatorTest.java
  src/test/java/ulaval/glo2003/domain/product/ProductTest.java
  src/test/java/ulaval/glo2003/domain/product/ProductValidatorTest.java
  src/test/java/ulaval/glo2003/domain/seller/SellerTest.java
  src/test/java/ulaval/glo2003/domain/seller/SellerValidatorTest.java
Labels: refactoring, test

#53 Filter product
  src/main/java/ulaval/glo2003/api/product/ProductCollectionResponse.java
  src/main/java/ulaval/glo2003/api/product/ProductResource.java
  src/main/java/ulaval/glo2003/domain/product/IProductRepository.java
  src/main/java/ulaval/glo2003/domain/product/InMemoryProductRepository.java
  src/main/java/ulaval/glo2003/domain/product/ProductFilter.java
  src/main/java/ulaval/glo2003/service/ProductMapper.java
  src/main/java/ulaval/glo2003/service/RepositoryManager.java
Labels: enhancement
